/* dung base du an */
* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  /* 1rem =10px */
  font-size: 62.5%;
}
body {
  font-family: "poppins", sans-serif;
  font-size: 1.6rem;
}
/* ===================common=================== */
a {
  text-decoration: none;
}
.main_content {
  width: 1170px;
  max-width: calc(100% - 40px);
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  min-width: 118px;
  color: #ffffff;
  background-color: black;
  font-weight: 600;
  padding: 0px 21px;
  border-radius: 900px;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.27;
  letter-spacing: -2%;
}
/* ===================header=================== */
.header {
  border: 1px solid red;
  background: #d1a93a;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0px 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0px currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 2.1rem;
  display: block;
  content: "";
  width: 1.2rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  background-color: #171100;
}
.header .btn_signup {
  min-width: 144px;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .action {
  margin-left: 49px;
}
/* ===================hero=================== */
.hero {
  /* margin-top: 56px;(khong do nen duoc) */
  /* padding thi do nen duoc */
  padding: 56px;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}
/* ===================hero left=================== */
.hero .media {
  width: 48%;
  position: relative;
}
.hero .media .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero_summary .item {
  display: flex;
}
.hero_summary .item + .item {
  margin-top: 22px;
}
.hero .hero_summary {
  padding: 12px;
  border: 1px solid black;
  border-radius: 20px;
  width: 230px;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 48px;
}
.hero_summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}
.hero_summary .icon2 {
  background-color: #fcefff;
}
.hero_summary .icon3 {
  background-color: #ebeaff;
}
.hero_summary .info {
  margin-left: 16px;
}
.hero_summary .label {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}
.hero_summary .title {
  font-size: 18px;
  font-weight: 600;
  color: #171100;
  line-height: 30px;
}
/* ===================hero right=================== */
.hero .content {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading {
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -0.02em;
}
.hero .desc {
  color: #5f5b53;
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.67;
}
.hero .cta {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: #ffb900;
}
.hero .watch-video {
  margin-left: 28px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.hero .icon .watch-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  color: #171100;
}
.hero .desc-rencent {
  margin-top: 48px;
}
.hero .stats strong {
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 5.4rem;
  margin-right: 15px;
}
/* .hero .stats strong + strong {
  margin-left: 28px;
} hoac*/
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
.hero .stats {
  margin-top: 8px;
}
/* ===================popular=================== */
.popular {
  padding: 65px 0px;
  margin-top: 135px;
}
.popular_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular_top .controls {
  display: flex;
  /* gap:18px(khoang cach giua cac phan tu ) */
  gap: 18px;
}
.popular_top .desc {
  width: 458px;
  margin-top: 16px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}
.popular_top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.popular_top .control-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}
.popular .courselist {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}
.popular .course-item .thumbnail {
  /* cach khong de bi tran ra khoi khung */
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  /* border-radius bo 4 goc (trai tren,phai tren,duoi phai,duoi trai) */
  /* padding hay margin la (tren,phai,duoi,trai) */
  height: 278px;
  /* object-fit:cover(lap day phan tu khong bi meo anh ,nhung co the bi cat) */
  object-fit: cover;
}
.popular .course-item {
  /* giu ti le cua cac item luon bang nhau */
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background-color: #fff;
}
.popular .course-item:hover {
  border: 10px solid #e2dfda;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 18px 36px 0px rgba(125, 200, 0, 0.2);
}
.popular .course-item .info {
  padding: 16px 22px 22px;
}
.popular .course-item .head,
.popular .course-item .foot,
.popular .course-item .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .course-item .title a {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}
.popular .rating .value {
  color: #fea31b;
  margin-left: 6px;
  font-size: 1.6rem;
  line-height: 1.75;
}
.popular .course-item .desc {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}
.popular .course-item .foot {
  margin-top: 12px;
}
.popular .course-item .price {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}
.popular .course-item .btn {
  border: none;
}
.popular .course-item .btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}
